.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fffdf2;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Big Caslon", serif;
  transition: opacity 0.3s ease;
}

.back-to-top.visible {
  opacity: 1; /* Fully visible when scrolled down */
}

.back-to-top:hover {
  opacity: 1; /* Fully visible on hover */
}
