.banner {
  overflow: hidden;
  white-space: nowrap;
  width: 100%; /* Adjust as needed */
  background-color: #a1c2da;
  padding: 1rem 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.banner-content {
  display: inline-block;
  animation: scroll 60s linear infinite; /* Adjust duration for speed */
}

.banner-message {
  display: inline-block;
  font-family: "Big Caslon";
  font-size: 2rem;
  padding: 0 1rem;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

@media (max-width: 480px) {
  .banner-content {
    animation: scroll 70s linear infinite; /* Adjust duration for speed */
  }

  @keyframes scroll {
    0% {
      transform: translateX(10%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(-100%); /* End off-screen to the left */
    }
  }
}
