.footerContainerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerContainerRight {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.title {
  font-family: "Big Caslon", serif, Georgia, Times, "Times New Roman";
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

span {
  font-size: 0.8rem;
}

.box {
  display: flex;
  background-color: #ebc16b;
  padding: 3rem;
  justify-content: space-between;
}

.link {
  margin-bottom: 1rem;
  color: #000;
  text-decoration: none;
}
