hr {
  transform: rotate(-45deg);
  margin: 0 1rem;
  width: 200px;
}

h1 {
  font-size: 3rem;
}

.divContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTitleContainer {
  max-width: 200px;
  text-wrap: wrap;
}

@media (max-width: 480px) {
  hr {
    transform: rotate(0deg);
    margin: 2rem 0;
  }

  .divContainer {
    flex-direction: column;
  }

  p.subtitle {
    text-align: center;
  }
}
