.firstWord {
  font-family: "Big Caslon";
  font-size: 2rem;
  font-weight: 500;
}

.welcome-img {
  width: 100%;
}

.textBlock {
  margin-bottom: 1rem;
}
button {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.welcome-box {
  display: flex;
  align-items: center;
}

.welcome-msg p {
  font-size: 1.25rem;
}

@media (max-width: 480px) {
  .welcome-msg p {
    font-size: 1rem;
  }

  .welcome-img {
    display: none;
  }
}
